
@{
    ViewBag.Title = "ContactUs";
}
<style>
    .well{color:white;background:gray;}
</style>
<h2 style="color:white">أتصل بنا</h2>
<div class="well">
    <h3>رقم التليفون :01205680721</h3>
    <h3>الايميل: barsoumedward1@gmail.com</h3>
    <h3>العنوان : أسيوط - ريفا</h3>
</div>


